@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@media screen and (max-width:600px) {
    #header-title-text span {
        display: none;
    }

    .grid-container {
        grid-template-columns: 50% 50%;;
    }
}

@media screen and (min-width:600px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (min-width:800px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media screen and (min-width:1000px) {
    .grid-container {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

.theme-light {
    --bg-color: #ffffff;
	--bg-image-url: url(background-light.jpg); 
	--bg-image-filter: blur(5px) brightness(1.3);

	--font-color: #000000;
	--link-color: #000066;
	--hover-color: #000000bb;
	--accent-color: #dcebef;
	--accent-color-trans: #dcebef80;
	--main-color-trans: #f2f2f280;

	--carousel-cell-status-text-color: #ffffff;
	--carousel-cell-status-color: #000066;
	--carousel-cell-archived-status-color: #676781;
	--carousel-cell-archived-color: #676781;
    --carousel-cell-archived-background-color: #cdcbcb80;
    
	--post-date-color: #ffffff;

	--contact-button-text-color: #ffffff;
	--linkedin-button-color: #4875b4;
	--facebook-button-color: #1877f2;
	--instagram-button-color: #c13584;
	--email-button-color: #607c9f;
} 

.theme-dark {
    --bg-color: #000000;
	--bg-image-url: url(background-dark.jpg); 
	--bg-image-filter: blur(5px) brightness(.3);

	--font-color: #ffffff;
	--link-color: #ccccff;
	--hover-color: #ffffffbb;
	--accent-color: #303f50;
	--accent-color-trans: #303f50c0;
	--main-color-trans: #3c3c3c80;

	--carousel-cell-status-text-color: #000000;
	--carousel-cell-status-color: #ccccff;
	--carousel-cell-archived-status-color: #676781;
	--carousel-cell-archived-color: #676781;
    --carousel-cell-archived-background-color: #302f2f80;
    
	--post-date-color: #000000;

	--contact-button-text-color: #ffffff;
	--linkedin-button-color: #4875b4;
	--facebook-button-color: #1877f2;
	--instagram-button-color: #c13584;
	--email-button-color: #607c9f;
}  

body {
    font-family: 'Titillium Web',sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--font-color);
}

a {
    color: var(--link-color);
}

a:hover {
    filter: drop-shadow(0 0 .5rem var(--hover-color));
}

h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
}

#header {
    position: fixed;
    z-index: 9999;
    background-color: var(--accent-color-trans);
    min-height: 70px;
    line-height: 70px;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(5px);
}

#header a {
    color: var(--font-color);
    text-decoration: none;
}

#header a#filled-nav {
    color: var(--accent-color);
    font-weight: 600;
}

#header-title {
    display: block;
    float: left;
    height: 100%;
    line-height: 100%;
    margin: 18px 0;
}

#header-image {
    display: inline-block;
    height: 36px;
    border-radius: 3px;
    margin: auto 10px auto 0;
    vertical-align: middle;
}

#header-nav li,#header-title-text {
    display: inline;
    vertical-align: middle;
}

#header-title-text {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Source Code Pro', sans-serif;
}

#header-nav,.bg-img {
    margin: 0;
    display: block;
}

#header-nav {
    text-transform: uppercase;
    font-size: 18px;
    float: right;
    padding-left: 0;
    letter-spacing: .1em;
}

#header-nav li {
    padding-left: 20px;
}

#filled-nav {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--font-color);
}

#content {
    clear: both;
    padding-top: 70px;
}

#linkedin-button {
    background-color: var(--linkedin-button-color);
}

#facebook-button {
    background-color: var(--facebook-button-color);
}

#instagram-button { 
    background-color: var(--instagram-button-color);
}

#email-button {
    background-color: var(--email-button-color);
}

#ball {
    position: absolute;
    visibility: hidden;
}

#ball-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    filter: drop-shadow(0 0 .5rem var(--hover-color));
}

#toggle-theme-button {
    font-size: 22px;
}

.bg-img {
    background-image: var(--bg-image-url);
    filter: var(--bg-image-filter);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
}

.container {
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 10px;
}

.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px auto;
}

.grid-item {
    display: inline;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-color-trans);
    backdrop-filter: blur(5px);
}

.grid-item-header {
    margin: 0;
}

.grid-item-header,.grid-item-header a {
    text-decoration: none;
}

.grid-item img {
    max-width: 100%;
    margin-top: -10px;
    border-radius: 3px;
}

.about {
    display: block;
    margin: 50px auto;
}

.about-image {
    border-radius: 6px;
    max-width: 180px;
    margin-right: 30px;
}

.about-text,.about-title {
    font-family: 'Source Code Pro', sans-serif;
}

.about-title {
    font-weight: 600;
    font-size: 84px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.about-text {
    letter-spacing: 0;
    font-weight: 100;
    font-size: 1.25em;
    margin: 10px auto;
}

.contact {
    display: block;
    line-height: 3em;
    margin-left: -40px;
    margin-bottom: 30px;
}

.contact li {
    display: inline;
    margin: 0 10px 0 0;
}

.contact-button {
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--contact-button-text-color);
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
}

.contact-button-image {
    max-width: 26px;
    max-height: 26px;
    vertical-align: middle;
    margin: 0 10px 5px 0;
}

.contact-button-text {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
}

.contact-button-subtext {
    text-transform: none;
    font-family: 'Source Code Pro',sans-serif;
    letter-spacing: 0;
}

.repository {
    margin-bottom: 30px;
}

.carousel-cell,.carousel-cell-archived {
    text-decoration: none;
    margin: auto 12px auto 0;
    padding: 5px 10px;
    width: 240px;
    height: 170px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.carousel-cell {
    color: var(--link-color);
	background-color: var(--main-color-trans);
}

.carousel-cell-archived {
    color: var(--carousel-cell-archived-color);
    background-color: var(--carousel-cell-archived-background-color);
}

.carousel-cell-archived-status,.carousel-cell-status {
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 5px 0;
    padding: 0 5px;
    letter-spacing: .05em;
    color: var(--carousel-cell-status-text-color);
    font-weight: 600;
}

.carousel-cell-status {
    background-color: var(--carousel-cell-status-color);
}

.carousel-cell-archived-status {
    background-color: var(--carousel-cell-archived-status-color);
}

.carousel-cell-header {
    margin: 0;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-cell-info {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 90px;
}

.post {
    display: block;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-color-trans);
    margin: 15px auto;
    backdrop-filter: blur(5px);
}

.post h2 {
    margin: 0;
    letter-spacing: .05em;
}

.post-author {
    text-decoration: none;
}

.post-author-image {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 3px;
}

.post-author-image,.post-author-name {
    vertical-align: middle;
}

.post-title {
    margin-top: 10px;
    font-size: 20px;
}

.post-date {
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 0 5px;
    letter-spacing: .05em;
    background-color: var(--font-color);
    color: var(--post-date-color);
    font-weight: 600;
}