@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@media screen and (max-width:660px) {
    #header-title-text span {
        display: none;
    }

    .grid-container {
        grid-template-columns: 50% 50%;;
    }
}

@media screen and (min-width:600px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (min-width:768px) {
    .about-left {
        position: sticky;
        top: 122px;
    }
}

@media screen and (min-width:800px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media screen and (min-width:1000px) {
    .grid-container {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media screen and (min-width:1200px) {
    .grid-container {
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
    }
}

.theme-light {
    --bg-color: #ffffff;
	--bg-image-url: url(img/background/light.png); 
	--bg-image-filter: brightness(1.3);

	--font-color: #000000;
	--link-color: #000066;
	--hover-color: #000000bb;
	--accent-color: #dcebef;
	--accent-color-trans: #dcebefcc;
	--main-color-trans: #f2f2f2cc;

	--repo-stats-color: #000066;
    
	--post-date-color: #ffffff;

	--linkedin-button-color: #4875b4;
	--email-button-color: #607c9f;
    --itchio-button-color: #d96262;
} 

.theme-dark {
    --bg-color: #000000;
	--bg-image-url: url(img/background/dark.png); 
	--bg-image-filter: brightness(0.3);

	--font-color: #ffffff;
	--link-color: #ccccff;
	--hover-color: #ffffffbb;
	--accent-color: #303f50;
	--accent-color-trans: #303f50cc;
	--main-color-trans: #3c3c3ccc;

	--repo-stats-color: #ccccff;
    
	--post-date-color: #000000;

	--linkedin-button-color: #4875b4;
	--email-button-color: #607c9f;
    --itchio-button-color: #d96262;
}  

html {
    height: 100%;
}

body {
    font-family: 'Titillium Web',sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--font-color);
    height: 100%;
}

a {
    color: var(--link-color);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: transform, filter, z-index;
}

a:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 1.5rem var(--hover-color));
    z-index: 10000;
}

h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
}

#header {
    position: fixed;
    z-index: 9999;
    background-color: var(--accent-color-trans);
    min-height: 70px;
    line-height: 70px;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(5px);
}

#header a {
    color: var(--font-color);
    text-decoration: none;
}

#header a#filled-nav {
    color: var(--accent-color);
    font-weight: 600;
}

#header-title {
    display: block;
    float: left;
    height: 100%;
    line-height: 100%;
    margin: 18px 0;
}

#header-image {
    display: inline-block;
    height: 36px;
    border-radius: 3px;
    margin: auto 10px auto 0;
    vertical-align: middle;
}

#header-nav li,#header-title-text {
    display: inline;
    vertical-align: middle;
}

#header-title-text {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Source Code Pro', sans-serif;
}

#header-nav,.bg-img {
    margin: 0;
    display: block;
}

#header-nav {
    text-transform: uppercase;
    font-size: 18px;
    float: right;
    padding-left: 0;
    letter-spacing: .1em;
}

#header-nav li {
    padding-left: 20px;
}

#filled-nav {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--font-color);
}

#content {
    clear: both;
    padding-top: 70px;
}

#linkedin-button {
    background-color: var(--linkedin-button-color);
}

#email-button {
    background-color: var(--email-button-color);
}

#itchio-button {
    background-color: var(--itchio-button-color);
}

#ball {
    position: absolute;
    visibility: hidden;
}

#ball-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    filter: drop-shadow(0 0 1.5rem var(--hover-color));
}

#ball-button {
    display: inline-block;
}

#toggle-theme-button {
    font-size: 22px;
}

.bg-img {
    background-image: var(--bg-image-url);
    filter: var(--bg-image-filter);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
}

.container {
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 24px;
}

.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px auto;
}

.grid-item {
    display: inline;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-color-trans);
    backdrop-filter: blur(5px);
}

.grid-item-header {
    margin: 0;
}

.grid-item-header,.grid-item-header a {
    text-decoration: none;
}

.grid-item img {
    max-width: 100%;
    margin-top: -10px;
    border-radius: 3px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    vertical-align: middle;
    justify-content: space-between;
    align-items: flex-start;
}

.about-left {
    flex: 0 0 25%;
    min-width: 360px;
}

.about-right {
    flex: 1 0 50%;
    max-width: 700px;
    min-width: 360px;
}

.about-image {
    margin: 0px;
    border-radius: 6px;
    max-width: 180px;
    max-height: 180px;
}

.about-text,.about-title {
    font-family: 'Source Code Pro', sans-serif;
}

.about-title {
    font-weight: 600;
    font-size: 72px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-text {
    letter-spacing: 0;
    font-weight: 100;
    font-size: 1.25em;
    margin-bottom: 40px;
}

.contact {
    display: block;
    padding-left: 0px;
    margin-bottom: 30px;
    list-style: none;
}

.contact li {
    display: inline-block;
    margin-right: 10px;
}

.contact-button {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0;
}

.contact-button-image {
    margin: 10px;
    max-width: 26px;
    max-height: 26px;
}

.repositories {
    margin-bottom: 30px;
}

.repo {
    display: flex;
    text-decoration: none;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    color: var(--font-color);
    align-items: stretch;
    overflow: hidden;
}

.repo-left {
    width: 180px;
    height: 180px;
    background-color: var(--accent-color-trans);
}

.repo-right {
    min-width: 0;
    padding: 0 24px;
    flex: 50%;
	background-color: var(--main-color-trans);
}

.repo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.repo-right h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0px;
}

.repo-right p {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 72px;
}

.repo-stats {
    bottom: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--repo-stats-color);
}

.post {
    display: block;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-color-trans);
    margin: 15px auto;
    backdrop-filter: blur(5px);
}

.post h2 {
    margin: 0;
    letter-spacing: .05em;
}

.post-author {
    text-decoration: none;
}

.post-author-image {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 3px;
}

.post-author-image,.post-author-name {
    vertical-align: middle;
}

.post-title {
    margin-top: 10px;
    font-size: 20px;
}

.post-date {
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 0 5px;
    letter-spacing: .05em;
    background-color: var(--font-color);
    color: var(--post-date-color);
    font-weight: 600;
}