@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@media screen and (max-width:600px) {
	#header-title-text span {
		display: none;
	}

	.grid-container {
		grid-template-columns: 50% 50%;
	}
}
@media screen and (min-width:600px) {

	.grid-container {
		grid-template-columns: 33% 33% 33%;
	}
}
@media screen and (min-width:800px) {

	.grid-container {
		grid-template-columns: 25% 25% 25% 25%;
	}
}
@media screen and (min-width:1000px) {

	.grid-container {
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #1e1e1e;
	margin: 0;
	color: white;
}

a {
	color: #ccccff
}

a:hover {
	filter: drop-shadow(0 0 0.5rem #ffffffbb);
}

h3 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header {
	position: fixed;
	background-color: #ad7670;
	min-height: 70px;
	line-height: 70px;
	width: 100%;
	margin: 0 auto;
}

#header a {
	color: #ffffff;
	text-decoration: none;
}

#header a#filled-nav {
	color: #ad7670;
	font-weight: 600;
}

#header-title {
	display: block;
	float: left;
	height: 100%;
	line-height: 100%;
	margin: 18px 0px;
}

#header-image {
	display: inline-block;
	height: 36px;
	border-radius: 3px;
	margin: auto 10px auto 0px;
	vertical-align: middle;
}

#header-title-text {
	display: inline;
	font-size: 32px;
	font-weight: 600;
	vertical-align: middle;
	font-family: 'Source Code Pro', sans-serif;
}

#header-nav {
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	float: right;
	margin: 0;
	padding-left: 0;
	letter-spacing: 0.1em;
}

#header-nav li {
	display: inline;
	padding-left: 20px;
	vertical-align: middle;
}

#filled-nav {
	padding: 5px 10px;
	border-radius: 3px;
	color: #ad7670;
	background-color: #ffffff;
}

#content {
	clear: both;
	padding-top: 70px;
}

#linkedin-button {
	background-color: #4875B4;
}

#facebook-button {
	background-color: #1877f2;
}

#instagram-button {
	background-color: #C13584;
}

#ball {
	position: absolute;
	visibility: hidden;
}

#ball-image {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	filter: drop-shadow(0 0 0.5rem #000000bb);
}

.bg-img {
	margin: 0;
	background-image: url('background.jpg');
	filter: blur(10px) brightness(0.5);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -9999;
	display: block;
}

.container {
	margin: auto;
	max-width: 1200px;
	box-sizing: border-box;
	padding: 0px 10px;
}

.grid-container {
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 10px auto;
}

.grid-item {
	display: inline;
	padding: 10px;
	border-radius: 3px;
	background-color: #3c3c3cab;
}

.grid-item-header {
	text-decoration: none;
	margin: 0;
}

.grid-item-header a {
	text-decoration: none;
}

.grid-item img {
	max-width: 100%;
	margin-top: -10px;
	border-radius: 3px;
}

.about {
	display: block;
	margin: 50px auto;
}

.about-image {
	border-radius: 6px;
	max-width: 180px;
	margin-right: 30px;
}

.about-title {
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	font-size: 84px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.about-text {
	font-family: 'Source Code Pro', sans-serif;
	letter-spacing: 0.0em;
	font-weight: 100;
	font-size: 1.25em;
	margin: 10px auto;
}

.contact {
	display: block;
	line-height: 3em;
	margin-left: -40px;
	margin-bottom: 30px;
}

.contact li {
	display: inline;
	margin: 0px 10px 0px 0px;
}

.contact-button {
	padding: 5px 10px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #ad7670;
	font-size: 18px;
	text-decoration: none;
	white-space: nowrap;
}

.contact-button-image {
	max-width: 26px;
	max-height: 26px;
	vertical-align: middle;
	margin: 0px 10px 5px 0px;
}

.contact-button-text {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.contact-button-subtext {
	text-transform: none;
	font-family: 'Source Code Pro', sans-serif;
	letter-spacing: 0.0em;
}

.repository {
	margin-bottom: 30px;
}

.carousel-cell, .carousel-cell-archived {
	text-decoration: none;
	margin: auto 12px auto 0px;
	padding: 5px 10px 5px 10px;
	width: 240px; /* full width */
	height: 170px; /* height of carousel */
	border-radius: 5px;
	
}

.carousel-cell {
	color: #ccccff;
	background-color: #3c3c3cab;
}

.carousel-cell-archived {
	color: #676781;
	background-color: #302f2fab;
}

.carousel-cell-status, .carousel-cell-archived-status {
	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 5px;
	padding: 1px 5px;
	letter-spacing: 0.05em;
	color: black;
}


.carousel-cell-status {
	background-color: #ccccff;
}

.carousel-cell-archived-status {
	background-color: #676781
}

.carousel-cell-header {
	margin: 0px;
	font-size: 28px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.carousel-cell-subheader {
	margin: 0px;
	font-size: 16px;
	font-style: italic;
}

.carousel-cell-info {
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 90px;
}

.post {
	display: block;
	padding: 10px;
	border-radius: 3px;
	background-color: #3c3c3cab;
	margin: 15px auto;
}

.post h2 {
	margin: 0;
	letter-spacing: 0.05em;
}

.post-author{
	text-decoration: none;
}

.post-author-image {
	width: 24px;
	height: 24px;
	border-radius: 3px;
	vertical-align: middle;
	margin-right: 3px;
}

.post-author-name {
	vertical-align: middle;
}

.post-title {
	margin-top: 10px;
	font-size: 20px;
}

.post-date {
	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 5px;
	padding: 1px 5px;
	letter-spacing: 0.05em;
	background-color: white;
	color: black;
}