:host {
  --carousel-padding-start: 0px;
  --carousel-padding-end: 0px;
  position: inherit;
}

.carousel {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    width: calc(var(--carousel-padding-end));
    background: linear-gradient(
      to right,
      transparent,
      var(--background-primary)
    );
    pointer-events: none;
  }
}

.carousel-scrollable {
  height: 172px;
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  padding-left: var(--carousel-padding-start);
  padding-right: var(--carousel-padding-end);
  cursor: grab;

  /* add padding and negative margin so drop shadow doesn't get clipped */
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -16px;
  margin-bottom: -16px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.grabbing {
    cursor: grabbing;
    /* Don't allow click events on children elements when the carousel is being dragged */
    ::slotted(*) {
      pointer-events: none;
    }
  }
}

.carousel-scrollable ::slotted(*) {
  border: 1px solid var(--border);
  border-radius: 8px;
  filter: var(--drop-shadow);
  user-select: none;
  -webkit-user-select: none;
}

.carousel-scrollable ::slotted(a) {
  width: fit-content;
  height: 100%;
}

.carousel-scrollable ::slotted(:not(:first-child)) {
  margin-left: 16px;
}

@media only screen and (max-width: 800px) {
  .carousel-scrollable {
    height: 128px;
  }
}
