.home-section {
  position: relative;
}

.home-section ::slotted(*) {
  margin: 0;
}

.home-section ::slotted(carousel-elem) {
  --carousel-padding-start: calc(var(--content-container-padding-start));
  --carousel-padding-end: var(--content-container-padding-end);
  display: block;
  transform: translateX(calc(-1 * var(--carousel-padding-start)));
  width: calc(
    var(--content-container-padding-start) + 100% +
      var(--content-container-padding-end)
  );
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-b);
  line-height: var(--line-height-b);
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 16px;
}
