.page-nav {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  background-image: linear-gradient(
    to bottom,
    var(--background-primary) -100%,
    transparent 100%
  );
}

.page-content {
  margin: auto;
  margin-top: 104px;
  margin-bottom: 72px;
  max-width: 1200px;
  padding: 0 32px;
  background-color: var(--background-primary);
  box-sizing: border-box;
}
