.project-item {
  clear: both;
}

.project-item__sticky {
  position: sticky;
  float: left;
  top: 104px;
  padding: 72px 0;
  width: 240px;
  & ::slotted(*) {
    margin: 24px 0;
  }
}

.project-item__images {
  padding-left: 240px;
}

::slotted(ol),
::slotted(ul) {
  padding-inline-start: 24px;
}

@media only screen and (max-width: 800px) {
  .project-item {
    margin: 72px 0;
  }
  .project-item__sticky {
    position: relative;
    float: unset;
    top: 0;
    padding: 0;
    width: unset;
  }
  .project-item__images {
    clear: both;
    padding-top: unset;
    padding-left: unset;
  }
}
