.project-item {
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
}

@supports (animation-timeline: view(block)) {
  .animate-enter-exit {
    animation-timeline: view(block);
    animation-name: entrance, exit;
    animation-fill-mode: both, forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 0% entry 50%, exit 50% exit 100%;
  }
}

@keyframes entrance {
  0% {
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes exit {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(4px);
    opacity: 0;
  }
}

.project-item__sticky {
  position: sticky;
  float: left;
  top: 72px;
  padding: 72px 0;
  width: 240px;
  height: fit-content;
}

.project-item__images {
  flex-grow: 1;
}

::slotted(ol),
::slotted(ul) {
  padding-inline-start: 24px;
}

@media only screen and (max-width: 800px) {
  .project-item {
    --sticky-gap: 256px;

    margin: 72px -32px;
    flex-direction: column-reverse;
    min-height: calc(100vh - 72px);
  }
  .project-item__sticky {
    margin-top: var(--sticky-gap);

    float: unset;
    top: unset;
    bottom: 0;
    padding: 32px;
    width: unset;
    z-index: 1;
    background-image: linear-gradient(
      to top,
      var(--background-primary) 50%,
      transparent 100%
    );
  }
  .project-item__images {
    margin-bottom: calc(-1 * var(--sticky-gap));
    
    clear: both;
    padding-top: unset;
    display: flex;
    align-items: center;
  }
}
