.project-item {
  display: flex;
  flex-direction: row;

  /* --intersection-ratio is set by IntersectionObserver callback */
  --fade-scaled: calc(var(--intersection-ratio) * 2);
  filter: blur(calc((1 - var(--fade-scaled)) * 8px));
  opacity: var(--intersection-ratio);
}

.project-item__sticky {
  position: sticky;
  float: left;
  top: 104px;
  padding: 72px 0;
  width: 240px;
  height: fit-content;
  & ::slotted(*) {
    margin: 24px 0;
  }
}

.project-item__images {
  flex-grow: 1;
}

::slotted(ol),
::slotted(ul) {
  padding-inline-start: 24px;
}

@media only screen and (max-width: 800px) {
  .project-item {
    flex-direction: column-reverse;
    margin: 72px 0;
    opacity: unset;
    filter: unset;
  }
  .project-item__sticky {
    float: unset;
    top: unset;
    bottom: 0;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 8px;
    width: unset;
    z-index: 1;
    background-image: linear-gradient(
      to top,
      var(--background-primary) 50%,
      transparent 100%
    );
  }
  .project-item__images {
    clear: both;
    padding-top: unset;
  }
}
