.header {
  margin: 16px;
  font-family: var(--font-family-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-list {
  margin: 0;
  background-color: var(--background-secondary);
  color: var(--foreground);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.tab-item {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3px 11px;
  color: inherit;
  text-decoration: none;

  &.selected {
    color: var(--background-primary);
    background-color: var(--foreground);
    font-weight: var(--font-weight-bold);
    .unselected-icon {
      display: none;
    }
  }
  &:not(.selected) {
    font-weight: var(--font-weight-normal);
    .selected-icon {
      display: none;
    }
  }
}

.tab-item__label {
  padding-left: 8px;
  font-size: var(--font-size-b);
  line-height: var(--line-height-b);
}

.home-item {
  img {
    width: 16px;
    height: 16px;
    border: 1px solid var(--foreground);
    border-radius: calc(var(--border-radius) * 0.5);
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 480px) {
  .home-item {
    .tab-item__label {
      display: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .tab-item__label {
    display: none;
  }
}
