h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-b);
  line-height: var(--line-height-b);
  text-transform: uppercase;
}

.project-item__icon {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.project-item__description {
  font-family: var(--font-family-2);
}