section {
  margin: 16px 0;

  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 16px 24px;
}

h1 {
  margin-top: 32px;
  margin-bottom: 16px;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-b);
  line-height: var(--line-height-b);
  text-transform: uppercase;
}

h2 {
  margin: 16px 0;
}

.section__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.section__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.section__description {
  font-family: var(--font-family-2);
}
