/* Color tokens */
:root {
  --foreground: #000000;
  --background-primary: #f7f7f7;
  --background-secondary: #ffffff;
  --border: #b3b3b3;
  --drop-shadow: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.025))
    drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.0125));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f7f7f7;
    --background-primary: #0d0d0d;
    --background-secondary: #1a1a1a;
    --border: #4d4d4d;
  }
}

/* Other */
:root {
  /* Animations */
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

  /* Transitions */
  --button-hover-transition: transform 0.2s var(--ease-out-back),
    box-shadow 0.2s var(--ease-out-back);

  /* Font */
  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Roboto Mono", monospace;

  /* Type ramp */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-b: 1rem; /* 16px */
  --font-size-l: 1.5rem; /* 24px */

  /* Letter spacing */
  --letter-spacing-s: -0.006rem;
  --letter-spacing-b: -0.011rem;
  --letter-spacing-l: -0.019rem;

  /* Line height (https://www.thegoodlineheight.com/) */
  --line-height-s: 1.5rem;
  --line-height-b: 1.5rem;
  --line-height-l: 2.5rem;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 4px;
}

/* Apply defaults to body */
body {
  padding: 0;
  margin: 0;

  font-family: var(--font-family-1);
  font-optical-sizing: auto;
  font-style: normal;

  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing-s);

  color: var(--foreground);
  background-color: var(--background-primary);
}

/* Headers */
h1 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  letter-spacing: var(--letter-spacing-l);
}

/* Button */
.button,
button {
  padding: 11px 15px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
  color: var(--foreground);
  font-size: var(--font-size-b);
  line-height: var(--line-height-b);
  letter-spacing: var(--letter-spacing-b);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-2);
  transition: var(--button-hover-transition);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
}
.button:disabled,
button:disabled {
  opacity: 0.25;
}
.button:hover:not([disabled]),
button:hover:not([disabled]) {
  transform: translate(0, -2px);
  box-shadow: 0px 2px 0px var(--border);
}
.button:active:not([disabled]),
button:active:not([disabled]) {
  transform: scale(0.97);
  box-shadow: none;
}
.button.primary,
button.primary {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  background-color: var(--foreground);
  border-color: transparent;
  color: var(--background-secondary);
}
.button.ghost,
button.ghost {
  border-color: transparent;
  background-color: none;
}

/* Switch/slider */
.switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: 1px solid var(--border);
  background-color: var(--background-secondary);
  transition: all 0.2s var(--ease-out-back);
  border-radius: var(--border-radius);
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 5px;
  bottom: 5px;
  background-color: var(--foreground);
  transition: all 0.2s var(--ease-out-back);
  border-radius: var(--border-radius);
}

input:checked + .slider {
  background-color: var(--foreground);
  &:before {
    background-color: var(--background-secondary);
    transform: translateX(24px);
  }
}

/* Links */
a {
  transition: var(--button-hover-transition);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}
a:hover:not([disabled]) {
  border: 1px solid var(--border);
  transform: translate(0, -2px);
  box-shadow: 0px 2px 0px var(--border);
}
a:active:not([disabled]) {
  transform: scale(0.97);
  box-shadow: none;
}

.content-container {
  --content-container-padding-start: 48px;
  --content-container-padding-end: 48px;

  position: relative;
  padding: 0;
  padding-left: var(--content-container-padding-start);
  padding-right: var(--content-container-padding-end);
  margin-bottom: 64px;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 32px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: 14px solid transparent;
  background-color: var(--foreground);
  background-clip: content-box;
}

@media (prefers-reduced-motion) {
  body {
    --button-hover-transition: none;
  }
}
